In [37]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [38]:
df=pd.read_csv("WORKBOOK3.csv")
df.head()

,DECRIPTION,QUANTITIES,NEEDED_QUANTITIES,ISSUED,BALANCE,AVAILABLE,PROCUREMENT
0,STRAIGHT SHACKLE GN - 16T,1,123,120,3,3,0
1,BALL EYE ABC-16-P,1,123,120,3,3,0
2,ARCHING HORN DC-35/19,2,246,120,126,126,0
3,BALL SOCKET RC -16-P/36,1,123,120,3,3,0
4,ARCHING HORN DC-35/11,2,246,120,126,126,0

In [39]:
df.isnull().sum()

DECRIPTION           0
QUANTITIES           0
NEEDED_QUANTITIES    0
ISSUED               0
BALANCE              0
AVAILABLE            0
PROCUREMENT          0
dtype: int64

In [40]:
unique_items = df['DECRIPTION'].unique()

# Step 2: Print the unique items
print("Unique Items in DESCRIPTION column:")
print(unique_items)

Unique Items in DESCRIPTION column:
['STRAIGHT SHACKLE GN - 16T' 'BALL EYE ABC-16-P' 'ARCHING HORN DC-35/19'
 'BALL SOCKET RC -16-P/36' 'ARCHING HORN DC-35/11'
 'SUSPENSION CLAMP GST -5' 'ARMOR RODS VPAL - 188-199/D'
 'STRAIGHT SHACKLE GN-16T' 'CHAIN LINK ES-16/20'
 'TRIANGULAR YOKE Y-16/400-14' 'ARCHING HORN DI-35/19'
 'BALL CLEVIS HPB-16' 'CLEVIS SOCKET RH-16' 'ARCHING HORN DI-35/13'
 'CLEVIS EYE HR-16/45' 'SUSPENSION CLAMP GST - 5'
 'ARMOR RODS VPAL-188-199/D' 'SOCKET EYE RC -16-P/21'
 'JUMPER TERMINAL DC-38.5' 'COMPRESSION CLAMP CH-226 C/W EYE TERMINAL'
 'YOKE PLATE Y-16/400-14' 'CLEVIS BALL HBP - 16' 'CLEVIS EYE HR-16/21']

In [41]:



# Drop duplicate rows
#unique_df = df.drop_duplicates()


# Update the 'DESCRIPTION' values to remove spaces around the hyphen
df['DECRIPTION'] = df['DECRIPTION'].str.replace(' - ', '-')

df['DECRIPTION'] = df['DECRIPTION'].replace({"BALL CLEVIS HPB-16": "CLEVIS BALL HBP-16"})
df['DECRIPTION'] = df['DECRIPTION'].replace({"YOKE PLATE Y-16/400-14": "TRIANGULAR YOKE Y-16/400-14"})
df['DECRIPTION'] = df['DECRIPTION'].replace({"SUSPENSION CLAMP GST-5": "SUSPENSION CLAMP GST -5"})
# Combine the counts of "STRAIGHT SHACKLE GN - 16T" and "STRAIGHT SHACKLE GN-16T"
combined_count = (
    df['DECRIPTION']
    .replace({"STRAIGHT SHACKLE GN-16T": "STRAIGHT SHACKLE GN - 16T"})
    .value_counts()
)


# Print the combined count
print(combined_count)

STRAIGHT SHACKLE GN - 16T                    9
SUSPENSION CLAMP GST -5                      6
ARMOR RODS VPAL-188-199/D                    6
BALL EYE ABC-16-P                            6
TRIANGULAR YOKE Y-16/400-14                  4
JUMPER TERMINAL DC-38.5                      4
ARCHING HORN DI-35/13                        4
CLEVIS SOCKET RH-16                          4
ARCHING HORN DI-35/19                        4
ARCHING HORN DC-35/11                        4
ARCHING HORN DC-35/19                        4
CHAIN LINK ES-16/20                          3
CLEVIS BALL HBP-16                           3
BALL SOCKET RC -16-P/36                      3
CLEVIS EYE HR-16/45                          3
COMPRESSION CLAMP CH-226 C/W EYE TERMINAL    3
SOCKET EYE RC -16-P/21                       2
CLEVIS EYE HR-16/21                          1
Name: DECRIPTION, dtype: int64

In [42]:
df.shape

(73, 7)

In [43]:
grouped_df = df.groupby('DECRIPTION').agg({
    'QUANTITIES' :'sum',         
    'NEEDED_QUANTITIES' :'sum',   
    'ISSUED':'sum',               
    'BALANCE':'sum',              
    'AVAILABLE':'sum',            
    'PROCUREMENT':'sum',
    
}).reset_index()

In [45]:
item_totals = grouped_df.groupby('DECRIPTION').sum().reset_index()

In [46]:
print("\nItem Totals:")
print(item_totals)

Item Totals:
                                   DECRIPTION  QUANTITIES  NEEDED_QUANTITIES  \
0                       ARCHING HORN DC-35/11           6                375
1                       ARCHING HORN DC-35/19           6                375
2                       ARCHING HORN DI-35/13           7                243
3                       ARCHING HORN DI-35/19           7                243
4                   ARMOR RODS VPAL-188-199/D           6                243
5                           BALL EYE ABC-16-P           7                312
6                     BALL SOCKET RC -16-P/36           3                147
7                         CHAIN LINK ES-16/20           3                123
8                          CLEVIS BALL HBP-16           6                246
9                         CLEVIS EYE HR-16/21           1                 51
10                        CLEVIS EYE HR-16/45           3                 96
11                        CLEVIS SOCKET RH-16           8                294
12  COMPRESSION CLAMP CH-226 C/W EYE TERMINAL           3                168
13                    JUMPER TERMINAL DC-38.5           5                204
14                     SOCKET EYE RC -16-P/21           2                117
15                    STRAIGHT SHACKLE GN-16T          13                558
16                    SUSPENSION CLAMP GST -5           6                243
17                TRIANGULAR YOKE Y-16/400-14           7                270

    ISSUED  BALANCE  AVAILABLE  PROCUREMENT
0      183      192        192            0
1      183      192        192            0
2       91      152          3          149
3       91      152          4          148
4      140      103        103            0
5      183      129        129            0
6      120       27          9           18
7       71       52          0           52
8      142      104          0          104
9       33       18          0           18
10      20       76         46           30
11     142      152         62           90
12     114       54         54            0
13     114       90         47           36
14      63       54         51            3
15     325      233        233            0
16     140      103        103            0
17     142      128         42           86

In [48]:
desktop_path = '~/Desktop/analysis.csv'
grouped_df.to_csv(desktop_path, index=False)

print(f"DataFrame has been exported to: {desktop_path}")

DataFrame has been exported to: ~/Desktop/analysis.csv